<ng-template #containerTemplate let-container>
  <div *ngIf="container && container.items.today" class="upwork-default-container">
    <div class="upwork-default-content-container">
      <div class="upwork-default-content-heading dashboard-header">
        {{ container.header }}
      </div>
      <div class="upwork-default-content-data flex-column d-flex justify-content-around">
        <!-- Visits Section -->
        <div *ngIf="container.type === 'visits'" class="time-off">
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.today-visit-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffUsersTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.today }">
              </ng-container>
            </ng-container>
          </div>
          <div class="d-flex time-off-section">
            <div class="time-off-header centered-header m-4">
              {{ 'dashboard.week-visit-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.week?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffUsersTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.week }">
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- Passes Section -->
        <div *ngIf="container.type === 'passes'" class="time-off">
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.today-pass-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffUsersTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.today }">
              </ng-container>
            </ng-container>
          </div>
          <div class="d-flex time-off-section">
            <div class="time-off-header centered-header m-4">
              {{ 'dashboard.week-pass-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.week?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffUsersTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.week }">
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- Requests Section -->
        <div *ngIf="container.type === 'requests'" class="employee-time-off d-flex justify-content-center">
          <div class="time-off-requests-container">
            <div class="time-off-header m-2">
              {{ 'dashboard.pending-requests' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffRequestsTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.today }">
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="btn-container">
          <div (click)="container.buttonAction()" class="upwork-btn upwork-btn-primary show-all-btn">
            {{ 'dashboard.show-all-button' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noTimeOff>
  <div class="no-time-off d-flex justify-content-center m-2">
    <div style="padding: 20px; font-size: 14px;">-</div>
  </div>
</ng-template>

<ng-template #timeOffUsersTemplate let-items>
  <div class="time-off-users d-flex flex-column m-2">
    <ng-container *ngFor="let item of items">
      <div class="user-row d-flex">
        <div class="user-info" style="flex: 0 0 75%; font-size: 14px;">
          {{ item.userFirstName || 'Unknown' }} {{ item.userLastName || 'User' }}
        </div>
        <div class="user-date" style="flex: 0 0 25%; font-size: 14px;">
          {{ item.fromDate | date: 'shortDate' }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #timeOffRequestsTemplate let-items>
  <div class="time-off-requests d-flex flex-column m-2">
    <ng-container *ngFor="let item of items">
      <div class="user-row">
        <div class="user-info" style="flex: 0 0 100%; font-size: 14px;">
          {{ item.userFirstName || 'Unknown' }} {{ item.userLastName || 'User' }} - {{ item.fromDate | date: 'shortDate' }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-container
  *ngFor="let container of containers"
  [ngTemplateOutlet]="containerTemplate"
  [ngTemplateOutletContext]="{ $implicit: container }">
</ng-container>
