<ng-template #containerTemplate let-container>
  <div *ngIf="container && container.items.today" class="jail-tracker-default-container">
    <div class="jail-tracker-default-content-container">
      <div class="jail-tracker-default-content-heading dashboard-header">
        {{ container.header }}
      </div>
      <div class="jail-tracker-default-content-data flex-column d-flex">
        <!-- Visits Section -->
        <div *ngIf="container.type === 'visits'" class="time-off">
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.today-visit-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="visitsTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.today }">
              </ng-container>
            </ng-container>
          </div>
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.week-visit-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.week?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="visitsTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.week }">
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- Passes Section -->
        <div *ngIf="container.type === 'passes'" class="time-off">
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.today-pass-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="passesTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.today }">
              </ng-container>
            </ng-container>
          </div>
          <div class="time-off-section">
            <div class="time-off-header centered-header m-2">
              {{ 'dashboard.week-pass-part' | translate }}
            </div>
            <ng-container *ngIf="container.items.week?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="passesTemplate"
                [ngTemplateOutletContext]="{ $implicit: container.items.week }">
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- Requests Section -->
        <div *ngIf="container.type === 'requests'" class="justify-content-center">
          <div class="time-off-requests-container">
            <div class="time-off-header m-2">
              {{ 'dashboard.pending-requests' | translate }}
            </div>
            <ng-container *ngIf="container.items.today?.length > 0; else noTimeOff">
              <ng-container
                [ngTemplateOutlet]="timeOffRequestsTemplate"
                [ngTemplateOutletContext]="{ $implicit: filterItemsByRequestType(container.items.today) }">
              </ng-container>
            </ng-container>
          </div>
          <div class="btn-container">
            <div (click)="toggleRequestType()" class="jail-tracker-btn jail-tracker-btn-primary show-all-btn">
              {{ showRequestType === 0 ? ('dashboard.show-passes' | translate) : ('dashboard.show-visits' | translate) }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #noTimeOff>
  <div class="no-time-off d-flex justify-content-center m-2">
    <div style="padding: 20px; font-size: 14px;">-</div>
  </div>
</ng-template>

<ng-template #visitsTemplate let-items>
  <div class="time-off-users d-flex flex-column m-2">
    <div class="time-off-header d-flex justify-content-between m-2">
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        Date
      </div>
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        Time
      </div>
      <div class="header-column" style="flex: 0 0 50%; font-weight: bold; font-size: 16px;">
        Status
      </div>
    </div>
    <ng-container *ngFor="let item of items">
      <div class="user-row d-flex m-2">
        <div class="user-info" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ item.from | date: 'shortDate' }}
        </div>
        <div class="user-date" style="flex: 0 0 25%; font-size: 14px; text-align: center;"> 
          {{ formatTime(item.from) || 'Unknown' }}
        </div>
        <div class="user-date" style="flex: 0 0 50%; font-size: 14px; text-align: center;">
          {{ getApprovalStateText(item.approvalState) }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #passesTemplate let-items>
  <div class="time-off-users d-flex flex-column m-2">
    <div class="time-off-header d-flex justify-content-between m-2">
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        Start
      </div>
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        End
      </div>
      <div class="header-column" style="flex: 0 0 50%; font-weight: bold; font-size: 16px;">
        Status
      </div>
    </div>
    <ng-container *ngFor="let item of items">
      <div class="user-row d-flex m-2">
        <div class="user-info" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ item.from | date: 'shortDate' }}
        </div>
        <div class="user-date" style="flex: 0 0 25%; font-size: 14px; text-align: center;"> 
          {{ item.to | date: 'shortDate' }}
        </div>
        <div class="user-date" style="flex: 0 0 50%; font-size: 14px; text-align: center;">
          {{ getApprovalStateText(item.approvalState) }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #timeOffRequestsTemplate let-items>
  <div class="time-off-requests d-flex flex-column m-2">
    <div class="time-off-header d-flex justify-content-between m-2">
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        Prisoner
      </div>
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        {{ showRequestType === 0 ? 'Date' : 'Start Date' }}
      </div>
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        {{ showRequestType === 0 ? 'Time' : 'End Date' }}
      </div>
      <div class="header-column" style="flex: 0 0 25%; font-weight: bold; font-size: 16px;">
        Status
      </div>
    </div>

    <ng-container *ngFor="let item of items">
      <div class="user-row d-flex m-2">
        <div class="user-info" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ item.userFirstName || 'Unknown' }} {{ item.userLastName || 'User' }}
        </div>
        <div class="user-date" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ item.from | date: 'shortDate' }}
        </div>
        <div class="user-time" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ showRequestType === 0 ? (formatTime(item.from) || 'Unknown') : (item.to | date: 'shortDate') }}
        </div>
        <div class="user-status" style="flex: 0 0 25%; font-size: 14px; text-align: center;">
          {{ getRequestTypeText(item.requestType) }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-container
  *ngFor="let container of containers"
  [ngTemplateOutlet]="containerTemplate"
  [ngTemplateOutletContext]="{ $implicit: container }">
</ng-container>
