
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

backend/JailTracker/JailTracker.*/bin/*
backend/JailTracker/JailTracker.*/obj/*
backend/JailTracker/.vs

frontend/JailTracker/node_modules/
frontend/JailTracker/dist/
frontend/JailTracker/.angular/
frontend/JailTracker/.history/
frontend/JailTracker/.idea/

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

.dockerignore
.git/