$dark-blue: #001242;
$light-blue: #B3C7FF;
$light-orange: #9FFF80;
$dark-beige: #C2BDB7;
$light-beige: #c2bdb7;
$white: #ffffff;
$dark-white: #fbfbfc;
$black: #000000;
$light-grey: #cccccc;
$red: red;
$green: green;
