// <div class="jail-tracker-default-container">
//       <div class="jail-tracker-default-content-container">
//         <div class="jail-tracker-default-content-heading">heading</div>
//         <div class="jail-tracker-default-content-data">content</div>
//       </div>
// </div>

.jail-tracker-default-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 10px;
  gap: 30px;
}

.jail-tracker-default-content-container {
  min-width: 800px;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.jail-tracker-default-content-heading {
  background-color: $dark-blue;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  min-height: 80px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: larger;
}

.jail-tracker-default-content-data {
  background-color: $white;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  min-height: 300px;
}

.mdc-dialog .mdc-dialog__content {
  padding: 0 !important;
  border-radius: 20px !important;
  background-color: $dark-blue !important;
}
.mdc-dialog__container {
  border-radius: 20px !important;
  background-color: $dark-blue !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
  background-color: $dark-blue !important;
}

.jail-tracker-popup-close-button {
  position: absolute;
  right: -23px;
  top: -23px;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
}

.jail-tracker-popup-inputs-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jail-tracker-popup-buttons-container {
  width: 70%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .jail-tracker-default-content-container {
    min-width: 90%;
  }

  .jail-tracker-default-container {
    align-items: unset;
    justify-content: unset;
  }

  .jail-tracker-default-content-container {
    min-width: 300px;
    width: 100%;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.25));
  }

  .jail-tracker-popup-inputs-container {
    width: 95%;
  }

  .jail-tracker-popup-buttons-container {
    width: 95%;
  }
}
